*.pyc
*.pth
*.pt
*.pkl
*.ckpt
*.DS_Store
*__pycache__*
*.cache*
*.bin
*.idea
*.csv
cache
build
dist
dev
vace.egg-info
.readthedocs.yml
*resources
*.ipynb_checkpoints*
*.vscodebenchmarks/VACE-Benchmark/
models/VACE-Annotators/
models/VACE-LTX-Video-0.9/  
models/Wan2.1-VACE-14B/
models/_VACE-Wan2.1-1.3B-Preview/
# Processing directories
inputs/
processed/
results/
pre_processed_files/
# Gradio cache
.gradio/
EOF